---
---
@import "{{ site.theme }}";
@import "main";

.feature_image {
    float: left;
    max-width: 250px;
    padding: 1em;
}

.excerpt::after {
    content: "";
    clear: both;
    display: table;
}

/* change all headings in the excerpt to look 'plain' */
.excerpt > %headings {
    font-weight: normal;
    font-size: medium;
}

.excerpt::h2 {
}
