// @import "{{ site.theme }}";
// @import "main";

/* Create a macro for headings so they can all be changed at once
   https://stackoverflow.com/a/21622588
*/
@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}

.feature_image {
    float: left;
    max-width: 250px;
    padding: 1em;
}

.excerpt::after {
    content: "";
    clear: both;
    display: table;
}

/* change all headings in the excerpt to look 'plain' */
.excerpt > %headings {
    font-weight: normal;
    font-size: medium;
}

dt:before {
  content: "";
  display: block;
}
dt {font-weight: bold}

.inline {
    dt, dd {
	display: inline;
    }
}


